h1 {
  border: 1px solid green;
  margin: 0;
  padding: 10px 20px;
}

p {
  border: 1px solid red;
  margin-top: 10;
  margin-bottom: 10;
  padding: 10px 20px;
}
main {
  border: 1px solid blue;
  display: flex;
  justify-content: space-between;
  width: 500px;
}

section {
  border: 1px solid red;
  background-color: green;
  color: white;
}
