html {
  font-size: 62.5%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
}
.container {
  background: #2a2138;
  color: #cfc6dc;
}
.container a {
  text-decoration: none;
  color: inherit;
}
.container ul {
  list-style: none;
  padding-left: 0%;
}
.container li {
  padding: 1.5rem;
}

.container li:hover,
.container .active {
  background: #221a2e;
  color: #fff;
}
.container .fas {
  margin-right: 1rem;
  width: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container {
    width: 20%;
    height: 100vh;
  }
}
