h1{
    postion:static;
  }
  .box{
    width:300px;
    height: 300px;
    border: 3px solid green;
    margin:20px auto;
    postion:relative;
      
  }
  .item1,.item2{
    width:100px;
    height:100px;
      
  }
  .item1{
    background-color:#50822A;
    
  }
  .item2{
   background-color:#50822A;
  }