/*
body {
  background: url(../Images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 300vh;
}
*/
/*
.bg-rocketship {
  background: url("../Images/css-sprite-combined.png") 0px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-landing {
  background: url("../Images/css-sprite-combined.png") -100px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-saturn {
  background: url("../Images/css-sprite-combined.png") -200px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-dishes {
  background: url("../Images/css-sprite-combined.png") -300px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-ufo {
  background: url("../Images/css-sprite-combined.png") -400px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

use css sprites to combine small images like logo's and icons not large ones 
.meal:hover {
  filter: grayscale(70%) blur(3px);
}
*/
