/* html {
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 2fr;
} */
body {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  background: rgb(151, 151, 221);
  /* overflow: hidden; NOT SURE I NEED */
}
header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}
nav {
  /* display: flex;
  height: 70px;
  justify-content: space-between; */
}
li {
  padding-right: 30px;
}
/* ul {
  display: inline;
} */
li {
  display: inline;
  text-decoration: n;
}

.card {
  /* margin-left: 20%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card-body {
  /* display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats"; */

  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
}

/* .card-image {
  grid-area: image;
} */
.card-text {
  grid-area: text;
}
.card-stats {
  grid-area: stats;
}

.card-image {
  width: 25rem;

  /* grid-area: image;
  background: url("./pics/BarredSala.jpeg");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover; */
  /* I FOUND THIS WILL CONTAIN THE IMG INCLUDING CCOVER */
}

.card-text {
  grid-area: text;
  margin: 25px;
}
.card-text .date {
  color: rgb(255, 7, 110);
  font-size: 13px;
}
.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}
.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
  padding: 10px;
}

.card-body:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.card-body {
  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
