html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
nav {
  background-color: #000;
  padding: 0.7rem;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  /* removes bullets*/
  padding-left: 0;
  text-align: center;
}
nav li {
  margin: 0.5rem 0;
}

nav a {
  color: #ccc;
  text-decoration: none;
  /* removed underline */
}
nav a:hover {
  color: #fff;
  /* changes the color when hovering over the link*/
}

@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li {
    margin: 0 1rem;
  }
}
